html {
  font-size: 1em;
}

a {

}

header {

}

.logo {
  width: 100px;
  height: 100px;
  /*centers the logo*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*centers the logo*/
  margin-top: 35px;
}

h1 {
  background-color: #000000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #FFFFFF;
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

nav {
  font-size: .8em;
}

.menubar {
  background-color: #000000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #FFFFFF;
  height: 1.5em;
  margin-bottom: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.menubar > svg {
  display: block;
  align: left;
  margin-left: 10px;
  fill: white;
  float: left;
}

.menubar > a {
  float: right;
  margin-right: 10px;
}

article > h2 {
  padding-top: 45px;
}

.p {

}

h2 {
  font-size: 1.2em;
}

footer {
  margin-bottom: 50px;
}
