/*Small Screens (mobile)*/
@media screen and (min-width: 640px)
{
html {
  font-size: 1em;
}

.logo > svg {
  width: 100px;
  height: 100px;
  /*centers the logo*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*centers the logo*/
  margin-top: 20px;
  fill: #990000;
}

.header .mobile {
  background-color: #000000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #FFFFFF;
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.header .desktop {
  display: none;
}

nav {
  font-size: .8em;
}

.menubar {
  background-color: #000000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #FFFFFF;
  height: 1.5em;
  margin-bottom: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.menubar > svg {
  display: block;
  align: left;
  margin-left: 10px;
  fill: white;
  float: left;
}

.menubar > a {
  float: right;
  margin-right: 10px;
}

article > img {
  float: left;
  margin-right: 15px;
}

article {
  float: left;
}

article > h2 {
  padding-top: 45px;
}

h2 {
  font-size: 1.2em;
}

footer {
  margin-bottom: 50px;
}
}

/*Medium Screens (tablet/desktop)*/
@media screen and (min-width: 900px)
{
  html {
    font-size: 1em;
  }

  a {

  }

  header {

  }

  .logo > svg {
    width: 200px;
    height: 200px;
    left: 0;
    top: 0;
    position: fixed;
    background-color: transparent;
    float: left;
    margin-left: 25px;
    fill: #990000;

  }

  .header .mobile {
    display: none;
    float: left;
  }

  #top {
    display: none;
  }

  .header .desktop {
    display: block;
    color: black;
    width: 100%;
    font-size: 7em;
    text-align: center;
    margin-top: 45px;
    float: left;
    position: relative;
  }

  nav {
    font-size: 1em;
    position: fixed;
    background-color: transparent;
    float: left;
    margin-left: 0;
    margin-top: 200px;
  }

  ul {
    list-style-type: none;
  }

  .menubar {
    display: none;
  }

  .menubar > svg {
    display: none;
  }

  .menubar > a {
    display: none;
  }

  section {
    margin-left: 200px;
    margin-top: 0;
    margin-right: 25px;
    float: left;
  }

  article {
    float: left;
    margin-top: -15px;
    margin-bottom: -20px;
  }

  article > h2 {

  }

  article > img {
    float: right;
    height: 125px;
    width: 125px;
    margin-left: 10px;
}

  .p {

  }

  h2 {
    font-size: 2em;
  }

  footer {
    margin-bottom: 50px;
  }
}
